<!DOCTYPE html>
<html>
<head>
    <title>A combatir!</title>
    <link rel="stylesheet" href="/projects/assets/css-pokemon-gameboy.css">
    <link rel="icon" type="image/x-icon" href="/projects/assets/images/pk.ico">
</head>
<body>
    <section class="framed neutral">
        <section>
            <h1>Simulador de combates Pokemon</h1>
            <div class="framed secondary">
                <div class=progress-bar-container id="carga_datos">Cargando datos</div>
                <div id="encabezado">
                    <div class="modo">
                        <h3>Selecciona modo de juego</h3>
                        <ul>
                            <form id="JvC">
                                <button type="button" secondary JvC>Jugador contra Computadora</button>
                            </form>
                        </ul>
                        <ul>
                            <form id="JvJ">
                                <button type="button" secondary JvJ>Jugador contra Jugador</button>
                            </form>
                        </ul>
                        <ul>
                            <form id="CvC">
                                <button type="button" secondary CvC>Computadora contra Computadora</button>
                            </form>
                        </ul>
                    </div>
                    <div class="atras">
                        <h3>Elige a los combatientes!</h3>
                        <ul>
                            <form id="atras_modo">
                                <button type="button" secondary atras_modo>Atrás</button>
                            </form>
                            <form id="atras_combate"></form>
                                <button type="button" secondary atras_combate>Volver a combatir</button>
                            </form>
                        </ul>
                    </div>
                    <div id="encabezado_msj"></div>
                </div>
            </div>
        </section>
            <section class="pk-life-container" secondary selector>
                <div id='pk_life1'>
                    <div id="pk1_select">
                        <ul id="pk1" class=pk>
                            <label for="pokemon1"></label><select name="pokemon1" id="pokemon1">
                                {% for valor in pk_list %}
                                    <option value="{{valor}}">{{valor}}</option>
                                {% endfor %}
                            </select>
                        </ul>
                        <div id='pk_ability1'>
                            <ul class=pk>
                                <label for="pk1_ability1">Habilidad 1:</label><select name="pk1_ability1" id="pk1_ability1">
                                    {% for ability in abilities1 %}
                                        <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                        <div id='pk_ability2'>
                            <ul class=pk>
                                <label for="pk1_ability2">Habilidad 2:</label><select name="pk1_ability2" id="pk1_ability2">
                                    {% for ability in abilities1 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                        <div id='pk_ability3'>
                            <ul class=pk>
                                <label for="pk1_ability3">Habilidad 3:</label><select name="pk1_ability3" id="pk1_ability3">
                                    {% for ability in abilities1 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                        <div id='pk_ability4'>
                            <ul class=pk>
                                <label for="pk1_ability4">Habilidad 4:</label><select name="pk1_ability4" id="pk1_ability4">
                                    {% for ability in abilities1 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                    </div>
                    <div id="pk1_life"></div>
                </div>
                <div id='boton'>
                    <ul class=pk>
                        <form id="ejecutar-JvC" action="/pokemon_combatJvC" method="post">
                            <button secondary inicio_JvC>Iniciar J1vsCOM</button>
                        </form>
                        <form id="ejecutar-JvJ" action="/pokemon_combatJvJ" method="post">
                            <button secondary inicio_JvJ>Iniciar J1vsJ2</button>
                        </form>
                        <form id="ejecutar-CvC" action="/pokemon_combatCvC" method="post">
                            <button secondary inicio_CvC>Iniciar COMvsCOM</button>
                        </form>
                    </ul>
                </div>
                <div id='pk_life2'>
                    <div id="pk2_select">
                        <ul id="pk2" class=pk>
                            <label for="pokemon2"></label><select name="pokemon2" id="pokemon2">
                                {% for valor in pk_list %}
                                    <option value="{{valor}}">{{valor}}</option>
                                {% endfor %}
                            </select>
                        </ul>
                        <div id='pk_ability1'>
                            <ul class=pk>
                                <label for="pk2_ability1">Habilidad 1:</label><select name="pk2_ability1" id="pk2_ability1">
                                    {% for ability in abilities2 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                        <div id='pk_ability2'>
                            <ul class=pk>
                                <label for="pk2_ability2">Habilidad 2:</label><select name="pk2_ability2" id="pk2_ability2">
                                    {% for ability in abilities2 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                        <div id='pk_ability3'>
                            <ul class=pk>
                                <label for="pk2_ability3">Habilidad 3:</label><select name="pk2_ability3" id="pk2_ability3">
                                    {% for ability in abilities2 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                        <div id='pk_ability4'>
                            <ul class=pk>
                                <label for="pk2_ability4">Habilidad 4:</label><select name="pk2_ability4" id="pk2_ability4">
                                    {% for ability in abilities2 %}
                                    <option value="{{ ability }}">{{ ability }}</option>
                                    {% endfor %}
                                </select>
                            </ul>
                        </div>
                    </div>
                    <div id="pk2_life"></div>
                </div>
            </section>
            <section class="pk-life-container" secondary buttons>
                <section>
                    <div id='ataques_pk1'>
                        <ul class=pk>
                            <form>
                                <button id="ataque1_pk1" secondary atk1_p1>Ataque 1</button>
                            </form>
                            <form>
                                <button id="ataque2_pk1" secondary atk2_p1>Ataque 2</button>
                            </form>
                            <form>
                                <button id="ataque3_pk1" secondary atk3_p1>Ataque 3</button>
                            </form>
                            <form></form>
                                <button id="ataque4_pk1" secondary atk4_p1>Ataque 4</button>
                            </form>
                        </ul>
                    </div>
                </section>
                <section>
                    <div id="ataque_pk1_seleccionado">

                    </div>
                </section>
                <section>
                    <form>
                        <button id="atacar" secondary atk1_p2>Ataquen!</button>
                    </form>
                </section>
                <section>
                    <div id="ataque_pk2_seleccionado">
                        
                    </div>
                </section>
                <section>
                    <div id='ataques_pk2'>
                        <ul class=pk>
                            <form>
                                <button id="ataque1_pk2" secondary atk1_p2>Ataque 1</button>
                            </form>
                            <form>
                                <button id="ataque2_pk2" secondary atk2_p2>Ataque 2</button>
                            </form>
                            <form>
                                <button id="ataque3_pk2" secondary atk3_p2>Ataque 3</button>
                            </form>
                            <form></form>
                                <button id="ataque4_pk2" secondary atk4_p2>Ataque 4</button>
                            </form>
                        </ul>
                    </div>
                </section>
            </section>
        <section id="resultado" class="resultado">
        </section>
    </section>
    <script>
        const encabezado = document.getElementById("encabezado_msj"); /*Mensaje de encabezado*/
        const form_JvC = document.getElementById("ejecutar-JvC"); /*Botón de selección JvC*/
        const form_JvJ = document.getElementById("ejecutar-JvJ"); /*Botón de selección JvJ*/
        const form_CvC = document.getElementById("ejecutar-CvC"); /*Botón de selección CvC*/
        const resultado = document.getElementById("resultado"); /*Mensaje con los resultados*/
        const pk1_life = document.getElementById("pk1_life"); /*Barra de vida de pk1*/
        const pk2_life = document.getElementById("pk2_life"); /*Barra de vida de pk2*/
        const boton_peleas = document.getElementById("boton"); /*Grupo de botones de inicio de combate*/
        const button_inicio_JvJ = form_JvJ.querySelector("button[secondary][inicio_JvJ]"); /*Botón inicio JvJ*/
        const button_inicio_JvC = form_JvC.querySelector("button[secondary][inicio_JvC]"); /*Botón inicio JvC*/
        const button_inicio_CvC = form_CvC.querySelector("button[secondary][inicio_CvC]"); /*Botón inicio CvC*/
        const button_JvJ = document.querySelector('button[secondary][JvJ]'); /*Botón selección JvJ*/
        const button_JvC = document.querySelector('button[secondary][JvC]'); /*Botón selección JvC*/
        const button_CvC = document.querySelector('button[secondary][CvC]'); /*Botón selección CvC*/
        const button_atras = document.querySelector('button[secondary][atras_modo]'); /*Botón atrás para selección de modo*/
        const button_combate = document.querySelector('button[secondary][atras_combate]'); /*Botón para volver a combatir*/
        /*const abilityDivs = document.querySelectorAll('[id^="pk"][id*="_ability"]');*/
        const pk1_select = document.getElementById("pk1_select"); /*Div de pk1*/
        const pokemon1Select = document.getElementById("pokemon1"); /*Selector pk1*/
        const pkLifeContainer = document.querySelector('.pk-life-container[secondary][selector]');  /*Sección de selección de pks y habilidades*/
        const pkbuttonContainer = document.querySelector('.pk-life-container[secondary][buttons]');  /*Sección de botones de pks y habilidades*/
        const pk2button = document.getElementById("ataques_pk2"); /*Botones de ataque pk2*/
        const pk1_ability1Select = document.getElementById("pk1_ability1"); /*Selector habilidad 1 pk1*/
        const pk1_ability2Select = document.getElementById("pk1_ability2"); /*Selector habilidad 2 pk1*/
        const pk1_ability3Select = document.getElementById("pk1_ability3"); /*Selector habilidad 3 pk1*/
        const pk1_ability4Select = document.getElementById("pk1_ability4"); /*Selector habilidad 4 pk1*/
        const pk1_ability1Button = document.getElementById("ataque1_pk1"); /*Botón habilidad 1 pk1*/
        const pk1_ability2Button = document.getElementById("ataque2_pk1"); /*Botón habilidad 2 pk1*/
        const pk1_ability3Button = document.getElementById("ataque3_pk1"); /*Botón habilidad 3 pk1*/
        const pk1_ability4Button = document.getElementById("ataque4_pk1"); /*Botón habilidad 4 pk1*/
        const pk2_select = document.getElementById("pk2_select"); /*Div de pk2*/
        const pokemon2Select = document.getElementById("pokemon2"); /*Selector pk2*/
        const pk2_ability1Select = document.getElementById("pk2_ability1"); /*Selector habilidad 1 pk2*/
        const pk2_ability2Select = document.getElementById("pk2_ability2"); /*Selector habilidad 2 pk2*/
        const pk2_ability3Select = document.getElementById("pk2_ability3"); /*Selector habilidad 3 pk2*/
        const pk2_ability4Select = document.getElementById("pk2_ability4"); /*Selector habilidad 4 pk2*/
        const pk2_ability1Button = document.getElementById("ataque1_pk2"); /*Botón habilidad 1 pk2*/
        const pk2_ability2Button = document.getElementById("ataque2_pk2"); /*Botón habilidad 2 pk2*/
        const pk2_ability3Button = document.getElementById("ataque3_pk2"); /*Botón habilidad 3 pk2*/
        const pk2_ability4Button = document.getElementById("ataque4_pk2"); /*Botón habilidad 4 pk2*/
        const atacar = document.getElementById("atacar"); /*Botón para iniciar ataque JvJ y JvC*/
        const atk1_sel = document.getElementById("ataque_pk1_seleccionado"); /*Sección donde se informa el ataque seleccionado pk 1*/
        const atk2_sel = document.getElementById("ataque_pk2_seleccionado"); /*Sección donde se informa el ataque seleccionado pk 2*/
        const modo = document.querySelector('.modo'); /*Sección de selección de modo de combate*/
        const atras = document.querySelector('.atras'); /*Sección de botones de atrás*/
        const barra_datos = document.getElementById('carga_datos'); /*Barra de carga de datos inicial*/
        const label1 = document.querySelector('label[for="pokemon1"]'); /*Etiqueta de selector pk1*/
        const label2 = document.querySelector('label[for="pokemon2"]'); /*Etiqueta de selector pk2*/
        
        /*window.addEventListener('load', function () {
            modo.style.display = 'none';
            fetch("/pokemon_load")
                .then((response) => {
                    if (response.ok) {
                        const eventSource = new EventSource("/pokemon_load_stream");
                        eventSource.onmessage = (event) => {
                            barra_datos.innerHTML = "<div class=progress-bar-container><label for=carga>Cargando datos...</label><progress id=cargar class=p" + Number(event.data.substring(0, 3)).toString() + " value=" +
                                event.data.substring(0, 3) + " max=100></progress></div>\n";
                            if (Number(event.data.substring(0, 3)).toString() == 100) {
                                modo.style.display = "block";
                                barra_datos.style.display = "none"
                            }
                        };
                    };
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });*/

        function acciones(response) {
            const pokemon1 = document.getElementById("pokemon1").value;
            const pokemon2 = document.getElementById("pokemon2").value;
            if (response.ok) {
                const eventSource = new EventSource("/pokemon_combat_stream");
                eventSource.onmessage = (event) => {
                    if (event.data.includes("data_pk1")) {
                        const partes = event.data.split(',');
                        const v_max = partes[partes.length - 2];
                        const vida = partes[partes.length - 1];
                        porcentaje = Math.round((vida / v_max) * 100).toString()
                        pk1_life.innerHTML = "<ul id=pk1_life class=pk><div class= progress-bar-container><label for= pk1>" + partes[1] + "</label><progress id=pk1 class=p" + porcentaje + " value=" +
                            vida + " max=" + v_max + "></progress> " + vida + "/" + v_max + "</div></ul>";
                    }
                    else if (event.data.includes("data_pk2")) {
                        const partes = event.data.split(',');
                        const v_max = partes[partes.length - 2];
                        const vida = partes[partes.length - 1];
                        porcentaje = Math.round((vida / v_max) * 100).toString();
                        pk2_life.innerHTML = "<ul id=pk2_life class=pk><div class= progress-bar-container><label for= pk2>" + partes[1] + "</label><progress id=pk2 class=p" + porcentaje + " value=" +
                            vida + " max=" + v_max + "></progress> " + vida + "/" + v_max + "</div></ul>";
                    }
                    else if (event.data.includes("atk_pk1")) {
                        const partes = event.data.split(',');
                        pk1_ability1Button.innerText = partes[1];
                        pk1_ability2Button.innerText = partes[2];
                        pk1_ability3Button.innerText = partes[3];
                        pk1_ability4Button.innerText = partes[4];
                    }
                    else if (event.data.includes("atk_pk2")) {
                        const partes = event.data.split(',');
                        pk2_ability1Button.innerText = partes[1];
                        pk2_ability2Button.innerText = partes[2];
                        pk2_ability3Button.innerText = partes[3];
                        pk2_ability4Button.innerText = partes[4];
                    }
                    else if ((event.data == "Definiendo parámetros...") | (event.data.includes("Comenzando el combate"))) {
                        encabezado.innerHTML += event.data + "<br>";
                    }
                    else if (event.data.includes("El ganador")) {
                        encabezado.innerHTML += "Combate finalizado. " + event.data + "<br>";
                        atras.style.display = "block";
                    }
                    else if (event.data.includes("Error!!")) {
                        if (!(encabezado.innerHTML.includes("El ganador")) & !(encabezado.innerHTML.includes("JvJ")) & !(encabezado.innerHTML.includes("JvC"))) {
                            resultado.innerHTML = "";
                            encabezado.innerHTML += "Hubo un error!! Por favor vuelva a intentarlo.<br>";
                            pk1_life.innerHTML = '';
                            pk2_life.innerHTML = '';
                            atras.style.display = "block";
                        }
                    }
                    else {
                        resultado.innerHTML += event.data + "<br>";
                    }
                };
                eventSource.onerror = () => {
                    console.log("Error al conectar con el servidor");
                };
                eventSource.onopen = () => {
                    console.log("Conexión establecida con el servidor");
                };
            } else {
                console.log("Error al iniciar la ejecución del script");
            }
        }

        button_inicio_CvC.addEventListener("click", (e) => {
            encabezado.innerHTML = "";
            resultado.innerHTML = "";
            atras.style.display = "none";
            const pokemon1 = document.getElementById("pokemon1").value;
            const pokemon2 = document.getElementById("pokemon2").value;
            const pk1_ability1 = document.getElementById("pk1_ability1").value;
            const pk1_ability2 = document.getElementById("pk1_ability2").value; 
            const pk1_ability3 = document.getElementById("pk1_ability3").value; 
            const pk1_ability4 = document.getElementById("pk1_ability4").value; 
            const pk2_ability1 = document.getElementById("pk2_ability1").value; 
            const pk2_ability2 = document.getElementById("pk2_ability2").value; 
            const pk2_ability3 = document.getElementById("pk2_ability3").value; 
            const pk2_ability4 = document.getElementById("pk2_ability4").value;
            boton_peleas.style.display = "none";
            pk1_select.style.display = "none";
            pk2_select.style.display = "none";
            e.preventDefault();
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({modo_combate: "CvC", pokemon1, pokemon2, pk1_ability1, pk1_ability2, pk1_ability3, pk1_ability4, pk2_ability1, pk2_ability2, pk2_ability3, pk2_ability4})
            })
                .then((response) => {
                    acciones(response);
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });

        button_inicio_JvJ.addEventListener("click", (e) => {
            e.preventDefault();
            encabezado.innerHTML = "";
            resultado.innerHTML = "";
            atras.style.display = "block";
            const pokemon1 = document.getElementById("pokemon1").value;
            const pokemon2 = document.getElementById("pokemon2").value;
            const pk1_ability1 = document.getElementById("pk1_ability1").value;
            const pk1_ability2 = document.getElementById("pk1_ability2").value; 
            const pk1_ability3 = document.getElementById("pk1_ability3").value; 
            const pk1_ability4 = document.getElementById("pk1_ability4").value; 
            const pk2_ability1 = document.getElementById("pk2_ability1").value; 
            const pk2_ability2 = document.getElementById("pk2_ability2").value; 
            const pk2_ability3 = document.getElementById("pk2_ability3").value; 
            const pk2_ability4 = document.getElementById("pk2_ability4").value;
            boton_peleas.style.display = "none";
            pk1_select.style.display = "none";
            pk2_select.style.display = "none";
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({modo_combate: "JvJ", pokemon1, pokemon2, pk1_ability1, pk1_ability2, pk1_ability3, pk1_ability4, pk2_ability1, pk2_ability2, pk2_ability3, pk2_ability4})
            })
                .then((response) => {
                    pkbuttonContainer.style.display = "flex";
                    pk2button.style.display = "block";
                    acciones(response);
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });

        button_inicio_JvC.addEventListener("click", (e) => {
            e.preventDefault();
            encabezado.innerHTML = "";
            resultado.innerHTML = "";
            atras.style.display = "block";
            const pokemon1 = document.getElementById("pokemon1").value;
            const pokemon2 = document.getElementById("pokemon2").value;
            const pk1_ability1 = document.getElementById("pk1_ability1").value;
            const pk1_ability2 = document.getElementById("pk1_ability2").value; 
            const pk1_ability3 = document.getElementById("pk1_ability3").value; 
            const pk1_ability4 = document.getElementById("pk1_ability4").value; 
            const pk2_ability1 = document.getElementById("pk2_ability1").value; 
            const pk2_ability2 = document.getElementById("pk2_ability2").value; 
            const pk2_ability3 = document.getElementById("pk2_ability3").value; 
            const pk2_ability4 = document.getElementById("pk2_ability4").value;
            boton_peleas.style.display = "none";
            pk1_select.style.display = "none";
            pk2_select.style.display = "none";
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({modo_combate: "JvC", pokemon1, pokemon2, pk1_ability1, pk1_ability2, pk1_ability3, pk1_ability4, pk2_ability1, pk2_ability2, pk2_ability3, pk2_ability4})
            })
                .then((response) => {
                    pkbuttonContainer.style.display = "flex";
                    pk2button.style.display = "none";
                    acciones(response);
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });

        pokemon1Select.addEventListener("change", async () => {
            const pokemon1Value = pokemon1Select.value;
            barra_datos.innerHTML = pokemon1Value;
            const response =  await fetch("/get_abilities", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ pokemon: pokemon1Value })
            });
            const abilities1 = await response.json();
            pk1_ability1Select.innerHTML = "";
            abilities1.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk1_ability1Select.appendChild(option);
            });
            pk1_ability2Select.innerHTML = "";
            abilities1.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk1_ability2Select.appendChild(option);
            });
            pk1_ability3Select.innerHTML = "";
            abilities1.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk1_ability3Select.appendChild(option);
            });
            pk1_ability4Select.innerHTML = "";
            abilities1.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk1_ability4Select.appendChild(option);
            });
        });
        
        pokemon2Select.addEventListener("change", async () => {
            const pokemon2Value = pokemon2Select.value;
            barra_datos.innerHTML = pokemon2Value;
            const response = await fetch("/get_abilities", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ pokemon: pokemon2Value })
            });
            const abilities2 = await response.json();
            pk2_ability1Select.innerHTML = "";
            abilities2.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk2_ability1Select.appendChild(option);
            });
            pk2_ability2Select.innerHTML = "";
            abilities2.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk2_ability2Select.appendChild(option);
            });
            pk2_ability3Select.innerHTML = "";
            abilities2.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk2_ability3Select.appendChild(option);
            });
            pk2_ability4Select.innerHTML = "";
            abilities2.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                pk2_ability4Select.appendChild(option);
            });
        });

        button_CvC.addEventListener('click', (e) => {
            e.preventDefault(); // previene el comportamiento predeterminado del botón
            fetch("/get_pokemon")
                .then(
                    response => response.json()
                )
                .then(pk_list => {
                    pokemon1Select.innerHTML = "";
                    pokemon2Select.innerHTML = "";
                    pk_list.forEach((pk) => {
                        const option = document.createElement("option");
                        option.value = pk;
                        option.text = pk;
                        pokemon1Select.appendChild(option);
                    });
                    pk_list.forEach((pk) => {
                        const option = document.createElement("option");
                        option.value = pk;
                        option.text = pk;
                        pokemon2Select.appendChild(option);
                    });
                    pokemon1Select.selectedIndex = 0;
                    pokemon2Select.selectedIndex = 0;
                    pkLifeContainer.style.display = "flex";
                    modo.style.display = "none";
                    atras.style.display = "block";
                    form_JvC.style.display = "none";
                    form_JvJ.style.display = "none";
                    label1.textContent = "Pokemon 1: ";
                    label2.textContent = "Pokemon 2: ";
                });
                pk1_select.style.display = "block";
                pk2_select.style.display = "block";
        });

        button_JvJ.addEventListener('click', (e) => {
            e.preventDefault(); // previene el comportamiento predeterminado del botón
            fetch("/get_pokemon")
                .then(
                    response => response.json()
                )
                .then(pk_list => {
                    pokemon1Select.innerHTML = "";
                    pokemon2Select.innerHTML = "";
                    pk_list.forEach((pk) => {
                        const option = document.createElement("option");
                        option.value = pk;
                        option.text = pk;
                        pokemon1Select.appendChild(option);
                    });
                    pk_list.forEach((pk) => {
                        const option = document.createElement("option");
                        option.value = pk;
                        option.text = pk;
                        pokemon2Select.appendChild(option);
                    });
                    pokemon1Select.selectedIndex = 0;
                    pokemon2Select.selectedIndex = 0;
                    pkLifeContainer.style.display = "flex";
                    modo.style.display = "none";
                    atras.style.display = "block";
                    form_JvC.style.display = "none";
                    form_CvC.style.display = "none";
                    label1.textContent = "Jugador 1: ";
                    label2.textContent = "Jugador 2: ";
                });
                pk1_select.style.display = "block";
                pk2_select.style.display = "block";
        });

        button_JvC.addEventListener('click', (e) => {
            e.preventDefault(); // previene el comportamiento predeterminado del botón
            fetch("/get_pokemon")
                .then(
                    response => response.json()
                )
                .then(pk_list => {
                    pokemon1Select.innerHTML = "";
                    pokemon2Select.innerHTML = "";
                    pk_list.forEach((pk) => {
                        const option = document.createElement("option");
                        option.value = pk;
                        option.text = pk;
                        pokemon1Select.appendChild(option);
                    });
                    pk_list.forEach((pk) => {
                        const option = document.createElement("option");
                        option.value = pk;
                        option.text = pk;
                        pokemon2Select.appendChild(option);
                    });
                    pokemon1Select.selectedIndex = 0;
                    pokemon2Select.selectedIndex = 0;
                    pkLifeContainer.style.display = "flex";
                    modo.style.display = "none";
                    atras.style.display = "block";
                    form_CvC.style.display = "none";
                    form_JvJ.style.display = "none";
                    label1.textContent = "Jugador: ";
                    label2.textContent = "Computadora: ";
                });
                pk1_select.style.display = "block";
                pk2_select.style.display = "block"; 
        });

        button_atras.addEventListener("click", (e) => {
            e.preventDefault();
            modo.style.display = "block";
            atras.style.display = "none";
            pkLifeContainer.style.display = "none";
            encabezado.innerHTML = "";
            resultado.innerHTML = "";
            boton_peleas.style.display = "block";
            form_JvC.style.display = "block";
            form_JvJ.style.display = "block";
            form_CvC.style.display = "block";
            pk1_life.innerHTML = "";
            pk2_life.innerHTML = "";
            pkbuttonContainer.style.display = "none";
            atk1_sel.innerHTML = "";
            atk2_sel.innerHTML = "";
        });
        
        button_combate.addEventListener("click", (e) => {
            e.preventDefault();
            pk1_select.style.display = "block";
            pk2_select.style.display = "block";
            boton_peleas.style.display = "block";
            pkbuttonContainer.style.display = "none";
            pk1_life.innerHTML = "";
            pk2_life.innerHTML = "";
            encabezado.innerHTML = "";
            resultado.innerHTML = "";
            atk1_sel.innerHTML = "";
            atk2_sel.innerHTML = "";
        });
        
        pk1_ability1Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab1 = pk1_ability1Button.innerText;
            atk1_sel.innerHTML = ab1;
        });
        pk1_ability2Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab2 = pk1_ability2Button.innerText;
            atk1_sel.innerHTML = ab2;
        });
        pk1_ability3Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab3 = pk1_ability3Button.innerText;
            atk1_sel.innerHTML = ab3;
        });
        pk1_ability4Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab4 = pk1_ability4Button.innerText;
            atk1_sel.innerHTML = ab4;
        });

        pk2_ability1Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab1 = pk2_ability1Button.innerText;
            atk2_sel.innerHTML = ab1;
        });
        pk2_ability2Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab2 = pk2_ability2Button.innerText;
            atk2_sel.innerHTML = ab2;
        });
        pk2_ability3Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab3 = pk2_ability3Button.innerText;
            atk2_sel.innerHTML = ab3;
        });
        pk2_ability4Button.addEventListener("click", (e) => {
            e.preventDefault();
            const ab4 = pk2_ability4Button.innerText;
            atk2_sel.innerHTML = ab4;
        });
        
        atacar.addEventListener("click", (e) => {
            e.preventDefault();
            atk_pk1 = atk1_sel.innerHTML;
            atk_pk2 = atk2_sel.innerHTML;
            if (encabezado.innerHTML.includes("JvJ")) {
                modo_combate = "JvJ_c";
            }
            else if (encabezado.innerHTML.includes("JvC")) {
                modo_combate = "JvC_c";
            }
            fetch("/pokemon_combat_c", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({modo_combate, atk_pk1, atk_pk2})
            })
                .then((response) => {
                    acciones(response);
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });</script>
</body>
</html>