<!DOCTYPE html>
<html>
<head>
    <title>Ejecutar Script</title>
    <link rel="stylesheet" href="/projects/assets/css-pokemon-gameboy.css">
    <link rel="icon" type="image/x-icon" href="/projects/assets/images/pk.ico">
</head>
<body>
    <section class="framed neutral">
        <section>
            <h1>Simulador de combates Pokemon</h1>
            <div class="framed secondary">
                <div id="encabezado">
                    <h3>Selecciona tus Pokémon</h3>
                </div>
            </div>
        </section>
        <section class="pk-life-container">
            <div id='pk_life1'>
                <ul class=pk>
                    <label for="pokemon1">Pokémon 1:</label><select name="pokemon1" id="pokemon1">
                        {% for valor in pk_list %}
                            <option value="{{valor}}">{{valor}}</option>
                        {% endfor %}
                    </select>
                </ul>
            </div>
            <div id='boton'>
                <ul class=pk>
                    <form id="ejecutar-script" action="/pokemon_combat" method="post">
                        <button secondary>Iniciar</button>
                    </form>
                </ul>
            </div>
            <div id='pk_life2'>
                <ul class=pk>
                    <label for="pokemon2">Pokémon 2:</label><select name="pokemon2" id="pokemon2">
                        {% for valor in pk_list %}
                            <option value="{{valor}}">{{valor}}</option>
                        {% endfor %}
                    </select>
                </ul>
            </div>
        </section>
        <section id="resultado" class="resultado">
        </section>
    </section>
    <script>const encabezado = document.getElementById("encabezado");
        const form = document.getElementById("ejecutar-script");
        const resultado = document.getElementById("resultado");
        const pk_life1 = document.getElementById("pk_life1");
        const pk_life2 = document.getElementById("pk_life2");
        const button = form.querySelector("button");

        button.addEventListener("click", (e) => {
            const pokemon1 = document.getElementById("pokemon1").value;
            const pokemon2 = document.getElementById("pokemon2").value;
            button.style.display = "none";
            e.preventDefault();
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({pokemon1, pokemon2})
            })
                .then((response) => {
                    if (response.ok) {
                        const eventSource = new EventSource("/pokemon_combat_stream");
                        eventSource.onmessage = (event) => {
                            if (event.data.includes("Cargando valores...")) {
                                encabezado.innerHTML = "Cargando valores..."
                                pk_life1.innerHTML = "<ul class=pk>" + pokemon1 + "</ul>"
                                pk_life2.innerHTML = "<ul class=pk>" + pokemon2 + "</ul>"
                                resultado.innerHTML = ""
                            }
                            else if (event.data.includes("pk1")) {
                                const partes = event.data.split(',');
                                const v_max = partes[partes.length - 2]
                                const vida = partes[partes.length - 1]
                                porcentaje = Math.round((vida / v_max) * 100).toString()
                                pk_life1.innerHTML = "<ul class=pk><div class= progress-bar-container><label for= pk1>" + partes[1] + "</label><progress id=pk1 class=p" + porcentaje + " value=" +
                                    vida + " max=" + v_max + "></progress> " + vida + "/" + v_max + "</div></ul>";
                            }
                            else if (event.data.includes("pk2")) {
                                const partes = event.data.split(',');
                                const v_max = partes[partes.length - 2]
                                const vida = partes[partes.length - 1]
                                porcentaje = Math.round((vida / v_max) * 100).toString()
                                pk_life2.innerHTML = "<ul class=pk><div class= progress-bar-container><label for= pk2>" + partes[1] + "</label><progress id=pk2 class=p" + porcentaje + " value=" +
                                    vida + " max=" + v_max + "></progress> " + vida + "/" + v_max + "</div></ul>";
                            }
                            else if (event.data.includes("%")) {
                                encabezado.innerHTML = "<div class=progress-bar-container><label for=carga>Cargando valores...</label><progress id=cargar class=p" + Number(event.data.substring(0, 3)).toString() + " value=" +
                                    event.data.substring(0, 3) + " max=100></progress></div>\n";
                            }
                            else if ((event.data == "Definiendo parámetros...") | (event.data == "Comenzando el combate...")) {
                                encabezado.innerHTML += event.data + "<br>";
                            }
                            else if (event.data.includes("El ganador")) {
                                resultado.innerHTML += event.data + "<br>";
                                encabezado.innerHTML += "Combate finalizado. " + event.data + "<br>";
                                pk_life1.innerHTML = "<ul class=pk><label for=pokemon1>Pokémon 1:</label><select name=pokemon1 id=pokemon1>{% for valor in pk_list %}{% if valor == " + pokemon1 + "%}<option value={{valor}} selected>{{ valor }}</option>{% else %}<option value={{valor}}>{{valor}}</option>{% endif %}{% endfor %} </select></ul>"
                                pk_life2.innerHTML = "<ul class=pk><label for=pokemon2>Pokémon 2:</label><select name=pokemon2 id=pokemon2>{% for valor in pk_list %}{% if valor == " + pokemon2 + "%}<option value={{valor}} selected>{{ valor }}</option>{% else %}<option value={{valor}}>{{valor}}</option>{% endif %}{% endfor %} </select></ul>"
                                button.style.display = "block"; 
                            }
                            else if (event.data.includes("Error!!")) {
                                if (!(encabezado.innerHTML.includes("El ganador"))){
                                    resultado.innerHTML += event.data + "<br>";
                                    encabezado.innerHTML += "Combate finalizado. " + event.data + "<br>";
                                    pk_life1.innerHTML = "<ul class=pk><label for=pokemon1>Pokémon 1:</label><select name=pokemon1 id=pokemon1>{% for valor in pk_list %}{% if valor == " + pokemon1 + "%}<option value={{valor}} selected>{{ valor }}</option>{% else %}<option value={{valor}}>{{valor}}</option>{% endif %}{% endfor %} </select></ul>"
                                    pk_life2.innerHTML = "<ul class=pk><label for=pokemon2>Pokémon 2:</label><select name=pokemon2 id=pokemon2>{% for valor in pk_list %}{% if valor == " + pokemon2 + "%}<option value={{valor}} selected>{{ valor }}</option>{% else %}<option value={{valor}}>{{valor}}</option>{% endif %}{% endfor %} </select></ul>"
                                    button.style.display = "block"; 
                                }
                            }
                            else {
                                resultado.innerHTML += event.data + "<br>";
                            }
                        };
                        eventSource.onerror = () => {
                            console.log("Error al conectar con el servidor");
                        };
                        eventSource.onopen = () => {
                            console.log("Conexión establecida con el servidor");
                        };
                    } else {
                        console.log("Error al iniciar la ejecución del script");
                    }
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });</script>
</body>
</html>