body {
    margin: 0;

    padding: 0;

    height: 100%;

    background-image: url('/projects/assets/images/fondo_pk.jpg');

    background-color: black;

    background-size: cover;

    background-position: center;

    background-attachment: fixed;

    scroll-behavior: smooth;

}

section {
    height: 100vh;

    scroll-snap-align: start;

}

.encabezado {
    width: 100%;

    height: 10%;

    display: flex;

    flex-direction: row;

    scroll-snap-align: start;

    justify-content: center;

}

.txt-encabezado {
    width: 100%;

    background-color: rgba(255, 255, 255, 0.2);

}

.txt-encabezado h3 {
    font-size: 50px;

    color: antiquewhite;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    margin-top: 10px;

    text-align: center;

}

button[type="combat"] {
    background-color: hsl(39, 70%, 39%);

    color: #fff;

    width: 100%;

    border: none;

    padding: 10px 20px;

    font-size: 16px;

    cursor: pointer;

    text-align: center;

}

button[type="combat"]:hover {
    background-color: hsla(39, 70%, 39%, 0.459);

}

#resultado {
    padding: 20px;

    border: 1px solid #ddd;

    border-radius: 5px;

    background-color: #f9f9f956;

}