@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Variables de colores */
:root {
    --overlay-light: rgba(255, 144, 0, 0.9);
    --overlay-dark: rgba(0, 110, 55, 0.8);
    --background-light: #fff;
    --background-dark: #000;
    --element-dark: rgba(255, 255, 255, 0.01);
    --element-light: rgba(74, 74, 74, 0.2);
    --scrollbar-dark: rgb(247, 247, 247);
    --scrollbar-light: rgb(39, 39, 39);
    --text-light: #181818;
    --text-dark: #e9e9e9;
    --shadow-dark: rgba(0, 230, 119, 0.3);
    --shadow-light: rgba(0, 109, 123, 0.4);
    --left-light: linear-gradient(to right, rgba(0, 63, 99, 0.4), transparent);
    --right-light: linear-gradient(to left, rgba(0, 63, 99, 0.4), transparent);
    --left-dark: linear-gradient(to right, rgba(236, 236, 236, 0.4), transparent);
    --right-dark: linear-gradient(to left, rgba(236, 236, 236, 0.4), transparent);
    --timeline-hito-light: 4px solid rgba(0, 109, 123, 0.5);
    --timeline-hito-dark: 4px solid rgba(0, 230, 119, 0.5);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #4d4d4d;
    background-color: var(--background-light);
    transition: background-color 1s ease;
}

body.dark-mode {
    background-color: var(--background-dark);
    transition: background-color 1s ease;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}

a {
    color: #FF9000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #FF9000;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: var(--text-light);
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    transition: color 1s ease;
}

h1.dark-mode, h2.dark-mode, h3.dark-mode, h4.dark-mode, h5.dark-mode, h6.dark-mode, figure.dark-mode{
    transition: color 1s ease;
    color: var(--text-dark);
    transition: color 1s ease;
}

::-webkit-selection {
    color: #fff;
    background: #FF9000;
}

::-moz-selection {
    color: #fff;
    background: #FF9000;
}

::selection {
    color: #fff;
    background: #FF9000;
}

#fh5co-header,
.fh5co-cover {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 600px;
    width: 100%;
}

#fh5co-header .overlay,
.fh5co-cover .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-light);
    transition: background-color 1s ease;
}

#fh5co-header .overlay.dark-mode,
.fh5co-cover .overlay.dark-mode {
    background-color: var(--overlay-dark);
    transition: background-color 1s ease;
}

#fh5co-header .display-t,
.fh5co-cover .display-t {
    width: 100%;
    display: table;
}

#fh5co-header .display-tc,
.fh5co-cover .display-tc {
    display: table-cell;
    vertical-align: middle;
    height: 600px;
}

#fh5co-header .display-tc h1, #fh5co-header .display-tc h2, #fh5co-header .display-tc h3,
.fh5co-cover .display-tc h1, .fh5co-cover .display-tc h2, .fh5co-cover .display-tc h3 {
    margin: 0;
    padding: 0;
    color: white;
}

#fh5co-header .display-tc h1, .fh5co-cover .display-tc h1 {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 300;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#fh5co-header .display-tc h1 span, .fh5co-cover .display-tc h1 span {
    padding: 4px 15px;
    position: relative;
}

#fh5co-header .display-tc h1 span:before, .fh5co-cover .display-tc h1 span:before {
    position: absolute;
    top: 40px;
    left: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-left: -30px;
}

#fh5co-header .display-tc h1 span:after, .fh5co-cover .display-tc h1 span:after {
    position: absolute;
    top: 40px;
    right: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-right: -30px;
}

@media screen and (max-width: 768px) {

    #fh5co-header .display-tc h1, .fh5co-cover .display-tc h1 {
        font-size: 34px;
    }

    #fh5co-header .display-tc h1 span:before, .fh5co-cover .display-tc h1 span:before {
        top: 28px;
        width: 20px;
        height: 3px;
        margin-left: -15px;
    }

    #fh5co-header .display-tc h1 span:after, .fh5co-cover .display-tc h1 span:after {
        top: 28px;
        width: 20px;
        height: 3px;
        margin-right: -15px;
    }
}

#fh5co-header .display-tc h2, .fh5co-cover .display-tc h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

#fh5co-header .display-tc h3, .fh5co-cover .display-tc h3 {
    font-size: 16px;
}

@media screen and (max-width: 768px) {

    #fh5co-header .display-tc h3, .fh5co-cover .display-tc h3 {
        font-size: 14px;
    }
}

#fh5co-header .display-tc .profile-thumb, .fh5co-cover .display-tc .profile-thumb {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#fh5co-header .display-tc .fh5co-social-icons li a, .fh5co-cover .display-tc .fh5co-social-icons li a {
    color: #fff;
}

#fh5co-header .display-tc .fh5co-social-icons li a i, .fh5co-cover .display-tc .fh5co-social-icons li a i {
    font-size: 30px;
}

.fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}

/* Posiciona el botón en la parte superior derecha */
.mode-toggle {
    position: fixed;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 40px;
    background-color: rgba(226, 214, 198, 0.5);
    border: 2px solid rgb(240, 228, 187);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo de los iconos */
.icon {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

/* Icono del sol (modo claro) */
.sun {
    background-image: url('../images/sol.png');
    opacity: 1;
}

/* Icono de la luna (modo oscuro) */
.moon {
    background-image: url('../images/luna.png');
    opacity: 0;
}

/* Modo oscuro: cambia el fondo y ajusta la visibilidad de los iconos */
.mode-toggle.dark-mode {
    background-color: rgba(51, 51, 51, 0.5);
    border-color: #6e6e6e;
}

.sun.dark-mode {
    opacity: 0;
}

.moon.dark-mode {
    opacity: 1;
}

/* Estilo animado del botón */
.mode-toggle::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #3f3f3f;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    transition: left 0.3s ease, backgroud-color 1s esase;
}

.mode-toggle.dark-mode::before {
    left: 30px;
    background-color: #fff;
    transition: background-color 1s ease;
}

.fh5co-social-icons {
    margin: 0;
    padding: 0;
}

.fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #FF9000;
    padding-left: 10px;
    padding-right: 10px;
}

.fh5co-social-icons li a i {
    font-size: 20px;
}

#fh5co-about {
    height: 100vh;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 1s ease, color 1s ease;
}

#fh5co-about.dark-mode {
    height: 100vh;
    background-color: var(--background-dark);
    color: var(--text-dark);
    transition: background-color 1s ease, color 1s ease;
}

#fh5co-about, #fh5co-resume, #fh5co-skills, #fh5co-started,
#fh5co-work, #fh5co-blog, #fh5co-pricing, #fh5co-contact {
    padding: 7em 0;
    clear: both;
}

@media screen and (max-width: 768px) {

    #fh5co-about, #fh5co-resume, #fh5co-skills, #fh5co-started,
    #fh5co-work, #fh5co-blog, #fh5co-pricing, #fh5co-contact {
        padding: 3em 0;
    }
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transition: background-color 1s ease, color 1s ease;

}

.gototop.dark-mode a {
    background-color: rgba(255,255,255, 0.8);
    color: #202020;
    transition: background-color 1s ease, color 1s ease;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
    text-decoration: none;
    outline: none;
}