/* Variables de colores */
:root {
    --background-light: linear-gradient(90grad, #d8d8d8, #fafafa);
    --background-dark: linear-gradient(90grad, #000000, #001a15);
    --element-dark: rgba(255, 255, 255, 0.01);
    --element-light: rgba(74, 74, 74, 0.2);
    --scrollbar-dark: rgb(247, 247, 247);
    --scrollbar-light: rgb(39, 39, 39);
    --text-light: #181818;
    --text-dark: #e9e9e9;
    --shadow-dark: rgba(0, 230, 119, 0.3);
    --shadow-light: rgba(0, 109, 123, 0.4);
    --left-light: linear-gradient(to right, rgba(0, 63, 99, 0.4), transparent);
    --right-light: linear-gradient(to left, rgba(0, 63, 99, 0.4), transparent);
    --left-dark: linear-gradient(to right, rgba(66, 66, 66, 0.4), transparent);
    --right-dark: linear-gradient(to left, rgba(66, 66, 66, 0.4), transparent);
    --timeline-hito-light: 4px solid rgba(0, 109, 123, 0.5);
    --timeline-hito-dark: 4px solid rgba(0, 230, 119, 0.5);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*background-image: url('images/fondo.jpg');*/
    background: var(--background-light);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body.dark-mode {
    background: var(--background-dark);
}

.snap-container {
    height: 80%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

/* Scrollbar personalizado */
.snap-container::-webkit-scrollbar {
    width: 4px;
}

/* Fondo de la pista del scrollbar */
.snap-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Thumb personalizado como un "bullet" negro */
.snap-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-light);
    border-radius: 50%;
    height: 20px;
    width: 4px;
}

.snap-container.dark-mode::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-dark);
}

.snap-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-light);
}

.snap-container.dark-mode::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-dark);
}

section {
    height: 100%;
    scroll-snap-align: start;
}

.titulo-de-proyectos {
    font-size: 30px;
    color: var(--text-light);
    text-align: center;
    font-family: Poppins, sans-serif;
}

.titulo-de-proyectos.dark-mode {
    color: var(--text-dark);
}

.titulo-de-proyectos h3 {
    font-size: 20px;
    font-family: Poppins, sans-serif;
}

.contenedor-de-proyectos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    /* Hide scrollbar */
    -webkit-scrollbar: none;
    -moz-scrollbar: none;
    scrollbar-width: none;
}

.contenedor-de-proyectos::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.contenedor-de-proyectos::-webkit-scrollbar-thumb {
    background-color: #337ab7;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-light);
}

.contenedor-de-proyectos.dark-mode::-webkit-scrollbar-thumb {
    box-shadow: var(--shadow-dark);
}

.contenedor-de-proyectos::-webkit-scrollbar-track {
    background-color: var(--scrollbar-light);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-light);
}

.contenedor-de-proyectos.dark-mode::-webkit-scrollbar-track {
    background-color: var(--scrollbar-dark);
    box-shadow: 0 0 10px var(--shadow-dark);
}

.tarjeta-de-proyectos {
    margin: 5px;
    flex: 0 0 700px;
    /* adjust the width of each card */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    background: var(--element-light);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow-light);
    width: 33.34%;
    height: 100%;
    max-width: 900px;
    max-height: 1200px;
    flex: 0 0 auto;
}

.tarjeta-de-proyectos.dark-mode {
    background: var(--element-dark);
    box-shadow: 0 0 10px var(--shadow-dark);
}

.tarjeta-de-proyectos:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

.tarjeta-de-proyectos img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px 5px 5px 5px;
}

.tarjeta-de-proyectos h3 {
    font-size: 20px;
    font-family: Poppins, sans-serif;
    margin-top: 10px;
}

.tarjeta-de-proyectos p {
    font-family: Poppins, sans-serif;
    margin-bottom: 20px;
}

.tarjeta-de-proyectos a {
    text-decoration: none;
    display: "flex";
    color: var(--text-light);
    font-family: Poppins, sans-serif;
    transition: color 1s ease;
}

.tarjeta-de-proyectos.dark-mode a.dark-mode {
    color: var(--text-dark);
}

.tarjeta-de-proyectos a:hover {
    color: var(--text-light);
}

.tarjeta-de-proyectos.dark-mode a:hover {
    color: var(--text-dark);
}

.project-card {
    transition: transform 1s ease-out;
    transform: translateY(0);
}

.project-card:hover {
    transform: scale(1.065);
}

.scroll-left,
.scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.scroll-left {
    left: 0;
    background: var(--left-light);
}

.scroll-right {
    right: 0;
    background: var(--right-light);
}

.scroll-left.dark-mode {
    left: 0;
    background: var(--left-dark);
}

.scroll-right.dark-mode {
    right: 0;
    background: var(--right-dark);
}

.scroll-left:focus, .scroll-right:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

.proyectos {
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;

}

.detalle-de-proyectos {
    color: var(--text-light);
    width: 100%;
    height: 100%;
}

.detalle-de-proyectos.dark-mode {
    color: var(--text-dark);
}

.cv {
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
    height: 100%;
}

.presentacion {
    width: 100%;
    height: 20%;
}

.exp-prof {
    width: 70%;
    height: 100%;
    background:var(--element-light);
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto;
    overflow-x: visible;
    scroll-snap-align: start;
    font-family: Poppins, sans-serif;
}

.exp-prof.dark-mode {
    background: var(--element-dark);
}

/* Scrollbar personalizado */
.exp-prof::-webkit-scrollbar {
    width: 3px;
}

/* Fondo de la pista del scrollbar */
.exp-prof::-webkit-scrollbar-track {
    background: transparent;
}

/* Thumb personalizado como un "bullet" negro */
.exp-prof::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-light);
    border-radius: 50%;
    height: 20px;
    width: 3px;
}

.exp-prof.dark-mode::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-dark);
}

.exp-prof::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-light);
}

.exp-prof.dark-mode::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-dark);
}

.txt-cv {
    width: 30%;
    background: var(--element-light);
    padding: 20px;
}

.txt-cv.dark-mode {
    background: var(--element-dark);
}

.redes {
    height: 50%;
    background: var(--element-light);
}

.redes.dark-mode {
    background: var(--element-dark);
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    overflow-y: visible;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--shadow-light);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline.dark-mode::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--shadow-dark);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border: var(--timeline-hito-light);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.dark-mode::before{
    border: var(--timeline-hito-dark);
}

.content {
    width: 40%;
    padding: 20px;
    background: var(--element-light);
    border-radius: 6px;
    color: var(--text-light);
    position: relative;
}

.content.dark-mode {
    background: var(--element-dark);
    color: var(--text-dark);
}

.timeline-item.left .content {
    margin-right: auto;
    text-align: right;
}

.timeline-item.right .content {
    margin-left: auto;
    text-align: left;
}

.timeline-item .content {
    width: 40%;
    background-color: rgba(79, 101, 126, 0.4);
    border-radius: 6px;
    color: var(--text-light);
    position: relative;
    box-shadow: 0 0 15px var(--shadow-light);
}

.timeline-item .content.dark-mode {
    color: var(--text-dark);
    box-shadow: 0 0 15px var(--shadow-dark);
}

.timeline-item .content:hover {
    box-shadow: 0 0 30px var(--shadow-light);
}

.timeline-item .content.dark-mode:hover{
    box-shadow: 0 0 30px var(--shadow-dark);;
}

.encabezado {
    background-color: var(--element-light);
    font-family: Poppins, sans-serif;
    color: var(--text-light);
    width: 100vw;
    height: 100%;
}

.encabezado.dark-mode {
    background-color: var(--element-dark);
    color: var(--text-dark);
}

/* Posiciona el botón en la parte superior derecha */
.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo de los iconos */
.icon {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

/* Icono del sol (modo claro) */
.sun {
    background-image: url('images/sol.png');
}

/* Icono de la luna (modo oscuro) */
.moon {
    background-image: url('images/luna.png');
    opacity: 0;
}

/* Modo oscuro: cambia el fondo y ajusta la visibilidad de los iconos */
body.dark-mode .mode-toggle {
    background-color: #333;
    border-color: #fff;
}

body.dark-mode .sun {
    opacity: 0;
}

body.dark-mode .moon {
    opacity: 1;
}

/* Estilo animado del botón */
.mode-toggle::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    transition: left 0.3s ease;
}


body.dark-mode .mode-toggle::before {
    left: 30px;
    background-color: #fff;
}