<!DOCTYPE html>
<html>
<head>
    <title>A combatir!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/projects/pokemon/assets/css-pokemon-gameboy.css">
    <link rel="icon" type="image/x-icon" href="/projects/pokemon/assets/images/pk.ico">
</head>
<body>
    <section class="framed neutral">
        <section>
            <div class="framed secondary" id="encabezado" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                <div class=progress-bar-container>
                    <div class="modo" style="width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                        <h3>Selecciona modo de juego</h3>
                        <ul>
                            <form id="JvC">
                                <button type="button" secondary JvC>Jugador contra Computadora</button>
                            </form>
                        </ul>
                        <ul>
                            <form id="JvJ">
                                <button  type="button" secondary JvJ>Jugador contra Jugador</button>
                            </form>
                        </ul>
                        <ul>
                            <form id="CvC">
                                <button type="button" secondary CvC>Computadora contra Computadora</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <section class="row">
                <section class="pk-life-container" secondary selector>
                    <section id= "celda_pk1" class="col-md-5">
                        <div id='pk_life1' class="elementos-container">
                            <div id="pk1_select" class="pk-life-container">
                                <div class=pk>
                                    <div id="pk1"></div>
                                    <div id="pokemon-container1" class="button-gallery"></div>
                                </div>
                                <div id="habilidades1">
                                    <div class=pk>
                                        <ul id='pk_ability1'>
                                            <label for="pk1_ability1">Habilidad 1:</label><select name="pk1_ability1" id="pk1_ability1">
                                                {% for ability in abilities1 %}
                                                    <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                        <ul id='pk_ability2'>
                                            <label for="pk1_ability2">Habilidad 2:</label><select name="pk1_ability2" id="pk1_ability2">
                                                {% for ability in abilities1 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                        <ul id='pk_ability3'>
                                            <label for="pk1_ability3">Habilidad 3:</label><select name="pk1_ability3" id="pk1_ability3">
                                                {% for ability in abilities1 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                        <ul id='pk_ability4'>
                                            <label for="pk1_ability4">Habilidad 4:</label><select name="pk1_ability4" id="pk1_ability4">
                                                {% for ability in abilities1 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="celda_botones" class="col-md-2">
                        <div id='boton' class="elementos-container">
                            <div class=pk>
                                <form id="ejecutar-JvC" action="/pokemon_combatJvC" method="post">
                                    <button secondary inicio_JvC>Iniciar J1vsCOM</button>
                                </form>
                                <form id="ejecutar-JvJ" action="/pokemon_combatJvJ" method="post">
                                    <button secondary inicio_JvJ>Iniciar J1vsJ2</button>
                                </form>
                                <form id="ejecutar-CvC" action="/pokemon_combatCvC" method="post">
                                    <button secondary inicio_CvC>Iniciar COMvsCOM</button>
                                </form>
                            </div>
                        </div>
                    </section>
                    <section id= "celda_pk2" class="col-md-5">
                        <div id='pk_life2' class="elementos-container">
                            <div id="pk2_select" class="pk-life-container">
                                <div class=pk>
                                    <div id="pk2"></div>
                                    <div id="pokemon-container2" class="button-gallery"></div>
                                </div>
                                <div id="habilidades2">
                                    <div class=pk>
                                        <ul id='pk_ability1'>
                                            <label for="pk2_ability1">Habilidad 1:</label><select name="pk2_ability1" id="pk2_ability1">
                                                {% for ability in abilities2 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                        <ul id='pk_ability2'>
                                            <label for="pk2_ability2">Habilidad 2:</label><select name="pk2_ability2" id="pk2_ability2">
                                                {% for ability in abilities2 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                        <ul id='pk_ability3'>
                                            <label for="pk2_ability3">Habilidad 3:</label><select name="pk2_ability3" id="pk2_ability3">
                                                {% for ability in abilities2 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                        <ul id='pk_ability4'>
                                            <label for="pk2_ability4">Habilidad 4:</label><select name="pk2_ability4" id="pk2_ability4">
                                                {% for ability in abilities2 %}
                                                <option value="{{ ability }}">{{ ability }}</option>
                                                {% endfor %}
                                            </select>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="pk-life-container" secondary buttons>
                    <section class="col-md-4">
                        <section class="elementos-container">
                            <div id='ataques_pk1'>
                                <ul class=pk>
                                    <form>
                                        <button id="ataque1_pk1" secondary atk1_p1>Ataque 1</button>
                                    </form>
                                    <form>
                                        <button id="ataque2_pk1" secondary atk2_p1>Ataque 2</button>
                                    </form>
                                    <form>
                                        <button id="ataque3_pk1" secondary atk3_p1>Ataque 3</button>
                                    </form>
                                    <form>
                                        <button id="ataque4_pk1" secondary atk4_p1>Ataque 4</button>
                                    </form>
                                </ul>
                            </div>
                        </section>
                    </section>
                    <section class="col-md-3">
                        <div class="pk">
                            <form>
                                <button id="atacar">Ataquen!</button>
                            </form>
                        </div>
                    </section>
                    <section class="col-md-4">
                        <section class="elementos-container">
                            <div id='ataques_pk2'>
                                <ul class=pk>
                                    <form>
                                        <button id="ataque1_pk2" secondary atk1_p2>Ataque 1</button>
                                    </form>
                                    <form>
                                        <button id="ataque2_pk2" secondary atk2_p2>Ataque 2</button>
                                    </form>
                                    <form>
                                        <button id="ataque3_pk2" secondary atk3_p2>Ataque 3</button>
                                    </form>
                                    <form>
                                        <button id="ataque4_pk2" secondary atk4_p2>Ataque 4</button>
                                    </form>
                                </ul>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="pk-life-container" secondary attack-selected>
                    <div class="col-md-4">
                        <div class="pk" id="ataque_pk1_seleccionado">
                            <ul id="atk1_name"></ul>
                            <ul id="atk1_tipo"></ul>
                            <ul id="atk1_pow"></ul>
                            <ul id="atk1_acc"></ul>
                            <ul id="atk1_class"></ul>
                            <ul id="atk1_eff"></ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="resultado"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="pk" id="ataque_pk2_seleccionado">
                            <ul id="atk2_name"></ul>
                            <ul id="atk2_tipo"></ul>
                            <ul id="atk2_pow"></ul>
                            <ul id="atk2_acc"></ul>
                            <ul id="atk2_class"></ul>
                            <ul id="atk2_eff"></ul>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class="row framed general">
        <div class="col-md-5">
            <h2 id="mensajes_generales" style="font-size: 12px;padding: 5px 10px;"></h2>
        </div>
        <div class="col-md-7">
            <div class="atras">
                <a href="/">
                    <button
                        style="position: absolute;right: 400px;font-size: 12px;padding: 5px 10px;background-color: rgba(153, 132, 64, 0.6);"
                        id="atras_modo" type="button" secondary atras_modo>Atrás</button>
                    <button
                        style="position: absolute;right: 160px;font-size: 12px;padding: 5px 10px;;background-color: rgba(153, 132, 64, 0.6);"
                        id="atras_combate" type="button" secondary atras_combate>Volver a combatir</button>
                    <button
                        style="position: absolute;right: 10px;font-size: 12px;padding: 5px 10px;;background-color: rgba(153, 132, 64, 0.6);">Portfolio</button>
                </a>
            </div>
        </div>
    </section>
    <section style="display: none;">
        <h6>id: <h6 id="id">{{random_id}}</h6><h6 id="actualizacion"></h6></h6>
    </section>
    <script>
        const modo = document.getElementById("encabezado");
        const mensajes_gr = document.getElementById("mensajes_generales"); /*Mensaje general de ejecución*/
        const form_JvC = document.getElementById("ejecutar-JvC"); /*Botón de selección JvC*/
        const form_JvJ = document.getElementById("ejecutar-JvJ"); /*Botón de selección JvJ*/
        const form_CvC = document.getElementById("ejecutar-CvC"); /*Botón de selección CvC*/
        const resultado = document.querySelectorAll(".resultado"); /*Mensaje con los resultados*/

        const boton_peleas = document.getElementById("boton"); /*Grupo de botones de inicio de combate*/
        const celda_botones = document.getElementById("celda_botones"); /*Celda de botones de combate*/
        const button_inicio_JvJ = form_JvJ.querySelector("button[secondary][inicio_JvJ]"); /*Botón inicio JvJ*/
        const button_inicio_JvC = form_JvC.querySelector("button[secondary][inicio_JvC]"); /*Botón inicio JvC*/
        const button_inicio_CvC = form_CvC.querySelector("button[secondary][inicio_CvC]"); /*Botón inicio CvC*/
        const button_JvJ = document.querySelector('button[secondary][JvJ]'); /*Botón selección JvJ*/
        const button_JvC = document.querySelector('button[secondary][JvC]'); /*Botón selección JvC*/
        const button_CvC = document.querySelector('button[secondary][CvC]'); /*Botón selección CvC*/
        const button_atras = document.querySelector('button[secondary][atras_modo]'); /*Botón atrás para selección de modo*/
        const button_combate = document.querySelector('button[secondary][atras_combate]'); /*Botón para volver a combatir*/
        /*const abilityDivs = document.querySelectorAll('[id^="pk"][id*="_ability"]');*/

        const pk1_select = document.getElementById("pk1_select"); /*Div de pk1*/
        const celda_pk1 = document.getElementById("celda_pk1"); /*Celda contenedora de pk1*/
        const pkLifeContainer = document.querySelector('.pk-life-container[secondary][selector]');  /*Sección de selección de pks y habilidades*/
        const pkbuttonContainer = document.querySelector('.pk-life-container[secondary][buttons]');  /*Sección de botones de pks y habilidades*/
        const pk1_ability1Select = document.getElementById("pk1_ability1"); /*Selector habilidad 1 pk1*/
        const pk1_ability2Select = document.getElementById("pk1_ability2"); /*Selector habilidad 2 pk1*/
        const pk1_ability3Select = document.getElementById("pk1_ability3"); /*Selector habilidad 3 pk1*/
        const pk1_ability4Select = document.getElementById("pk1_ability4"); /*Selector habilidad 4 pk1*/
        const pk1_ability1Button = document.getElementById("ataque1_pk1"); /*Botón habilidad 1 pk1*/
        const pk1_ability2Button = document.getElementById("ataque2_pk1"); /*Botón habilidad 2 pk1*/
        const pk1_ability3Button = document.getElementById("ataque3_pk1"); /*Botón habilidad 3 pk1*/
        const pk1_ability4Button = document.getElementById("ataque4_pk1"); /*Botón habilidad 4 pk1*/

        const pk2_select = document.getElementById("pk2_select"); /*Div de pk2*/
        const celda_pk2 = document.getElementById("celda_pk2"); /*Celda contenedora de pk2*/
        const pk2_ability1Select = document.getElementById("pk2_ability1"); /*Selector habilidad 1 pk2*/
        const pk2_ability2Select = document.getElementById("pk2_ability2"); /*Selector habilidad 2 pk2*/
        const pk2_ability3Select = document.getElementById("pk2_ability3"); /*Selector habilidad 3 pk2*/
        const pk2_ability4Select = document.getElementById("pk2_ability4"); /*Selector habilidad 4 pk2*/
        const pk2_ability1Button = document.getElementById("ataque1_pk2"); /*Botón habilidad 1 pk2*/
        const pk2_ability2Button = document.getElementById("ataque2_pk2"); /*Botón habilidad 2 pk2*/
        const pk2_ability3Button = document.getElementById("ataque3_pk2"); /*Botón habilidad 3 pk2*/
        const pk2_ability4Button = document.getElementById("ataque4_pk2"); /*Botón habilidad 4 pk2*/

        const habilidades1 = document.getElementById("habilidades1"); /*Habilidades*/
        const habilidades2 = document.getElementById("habilidades2"); /*Habilidades*/

        const atacar = document.getElementById("atacar"); /*Botón para iniciar ataque JvJ y JvC*/
        const atk1_sel = document.getElementById("ataque_pk1_seleccionado"); /*Sección donde se informa el ataque seleccionado pk 1*/
        const atk2_sel = document.getElementById("ataque_pk2_seleccionado"); /*Sección donde se informa el ataque seleccionado pk 2*/
        const atkselected = document.querySelector(".pk-life-container[secondary][attack-selected]"); /*Contenedor de las etiquetas de ataque seleccionado*/
        const atras = document.querySelector('.atras'); /*Sección de botones de atrás*/
        const id = document.getElementById("id"); /*id de ejecución*/
        const actualizacion = document.getElementById("actualizacion"); /*Última actualización*/
        
        const pokemon1 = document.getElementById("pk1"); /*Tarjeta pokemon 1*/
        const pokemon2 = document.getElementById("pk2"); /*Tarjeta pokemon 2*/
        const pokemon1_container = document.getElementById("pokemon-container1"); /*Contenedor de pokemons 1*/
        const pokemon2_container = document.getElementById("pokemon-container2"); /*Contenedor de pokemons 2*/
        let currentIndex1 = 0; /*Indice de pokemon 1 seleccionado*/
        let currentIndex2 = 0; /*Indice de pokemon 2 seleccionado*/
        let pk_lista = []; /*Lista de posibles pokemon*/
        let img1 = ""; /*Imágen de pokemon 1*/
        let img2 = ""; /*Imágen de pokemon 2*/
        let atk1 = ""; /*Ataque de pokemon 1*/
        let atk2 = ""; /*Ataque de pokemon 2*/

        window.addEventListener('load', function () {
            modo.style.display = 'none';
            fetch("/pokemon_load")
                .then((response) => {
                    if (response.ok) {
                        modo.style.display = "block";
                    };
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
        });

        function mostrar() {
            const [hours_d, minutes_d, seconds_d] = actualizacion.innerText.split(':');
            const id_s = document.getElementById("id").innerText;
            desiredTimeThreshold = parseInt(hours_d) * 3600 + parseInt(minutes_d) * 60 + parseInt(seconds_d);
            fetch('/pksession.log', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({id_s})
            })
                .then(response => response.text())
                .then(data => {
                    const parsedLog = data.split('\n').filter(line => line.trim() !== '').map(line => {
                        const [datetime, , message] = line.trim().split(' - ');
                        const [date, time] = datetime.trim().split(' ');
                        return {
                            date,
                            time,
                            message
                        };
                        }).filter(entry => {
                            const [hours, minutes, seconds] = entry.time.split(':');
                            const timeInSeconds = parseInt(hours) * 3600 + parseInt(minutes) * 60 + parseInt(seconds);
                        return timeInSeconds > desiredTimeThreshold;
                        });
                        for (let i = 0; i < parsedLog.length; i++) {
                            (function(index) {
                                setTimeout(function() {
                                    const logMsg = parsedLog[index].message;
                                    const partes = logMsg.split(',');
                                    if (logMsg.includes("data_pk1")) {
                                        const v_max = partes[partes.length - 2];
                                        const vida = partes[partes.length - 1];
                                        porcentaje = Math.round((vida / v_max) * 100).toString()
                                        pokemon1.innerHTML = "";
                                        pokemon1.innerHTML = "<div class= progress-bar-container><label for= pk1>" + partes[1] + "</label><progress id=pk1 class=p" + porcentaje + " value=" +
                                            vida + " max=" + v_max + "></progress> " + vida + "/" + v_max + "</div>" + '<img src=' + img1 + ' alt=Imagen style="height: 80px; width: 80px; object-fit: cover; object-fit: contain; display: block; margin: 0 auto;">';
                                    }
                                    else if (logMsg.includes("data_pk2")) {
                                        const v_max = partes[partes.length - 2];
                                        const vida = partes[partes.length - 1];
                                        porcentaje = Math.round((vida / v_max) * 100).toString();
                                        pokemon2.innerHTML = "";
                                        pokemon2.innerHTML = "<div class= progress-bar-container><label for= pk2>" + partes[1] + "</label><progress id=pk2 class=p" + porcentaje + " value=" +
                                            vida + " max=" + v_max + "></progress> " + vida + "/" + v_max + "</div>" + '<img src=' + img2 + ' alt=Imagen style="height: 80px; width: 80px; object-fit: cover; object-fit: contain; display: block; margin: 0 auto;">';
                                    }
                                    else if (logMsg.includes("atk_pk1")) {
                                        pk1_ability1Button.innerText = partes[1];
                                        pk1_ability2Button.innerText = partes[2];
                                        pk1_ability3Button.innerText = partes[3];
                                        pk1_ability4Button.innerText = partes[4];
                                    }
                                    else if (logMsg.includes("atk_pk2")) {
                                        pk2_ability1Button.innerText = partes[1];
                                        pk2_ability2Button.innerText = partes[2];
                                        pk2_ability3Button.innerText = partes[3];
                                        pk2_ability4Button.innerText = partes[4];
                                    }
                                    else if ((logMsg.includes("Definiendo")) | (logMsg.includes("Comenzando el combate"))) {
                                        mensajes_gr.innerText = logMsg;
                                    }
                                    else if (logMsg.includes("El ganador")) {
                                        mensajes_gr.innerText = "Combate finalizado. " + logMsg;
                                        atras.style.display = "block";
                                        clearInterval(intervalId);
                                    }
                                    else if (logMsg.includes("Error!!")) {
                                        if (!(mensajes_gr.innerText.includes("El ganador")) & !(mensajes_gr.innerText.includes("JvJ")) & !(mensajes_gr.innerText.includes("JvC"))) {
                                            resultado.forEach((resultado) => {
                                                resultado.innerText = ""
                                            });
                                            mensajes_gr.innerText = "Hubo un error!! Por favor vuelva a intentarlo.";
                                            atras.style.display = "block";
                                            clearInterval(intervalId);
                                        }
                                    }
                                    else {
                                        resultado.forEach((resultado) => {
                                            resultado.innerText += logMsg + "\n";
                                        });
                                    }
                                }, index * 100);
                            })(i);
                        }
                        actualizacion.innerText = parsedLog[parsedLog.length-1].time;
                })
            .catch(error => console.log("Error al leer el archivo session.log", error));
        };

        function acciones(response, modo) {
            let intervalId = null;
            if (!(mensajes_gr.innerText.includes("JvJ") | mensajes_gr.innerText.includes("JvC"))){
                actualizacion.innerText = "00:00:00"
            }

            if (response.ok) {
                const startTime = new Date().getTime();
                while (new Date().getTime() - startTime < 1000) {
                }
                if (modo == 'CvC'){
                    intervalId = setInterval(mostrar(), 2500);
                }
                else {
                    mostrar();
                }
            } else {
                console.log("Error al iniciar la ejecución del script");
            }
        };

        button_inicio_CvC.addEventListener("click", (e) => {
            e.preventDefault();
            atras.style.display = "none";
            pokemon1_container.style.display = "none";
            pokemon2_container.style.display = "none";
            boton_peleas.style.display = "none";
            habilidades1.style.display = "none";
            habilidades2.style.display = "none";
            mensajes_gr.innerText = "";
            resultado.forEach((resultado) => {
                resultado.innerText = ""
            });
            
            const pokemon1_value = pk_lista[currentIndex1];
            const pokemon2_value = pk_lista[currentIndex2];
            const pk1_ability1 = document.getElementById("pk1_ability1").value;
            const pk1_ability2 = document.getElementById("pk1_ability2").value; 
            const pk1_ability3 = document.getElementById("pk1_ability3").value; 
            const pk1_ability4 = document.getElementById("pk1_ability4").value; 
            const pk2_ability1 = document.getElementById("pk2_ability1").value; 
            const pk2_ability2 = document.getElementById("pk2_ability2").value; 
            const pk2_ability3 = document.getElementById("pk2_ability3").value; 
            const pk2_ability4 = document.getElementById("pk2_ability4").value;
            const id_s = document.getElementById("id").innerText;
            
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({id_s, modo_combate: "CvC", pokemon1: pokemon1_value, pokemon2: pokemon2_value, pk1_ability1, pk1_ability2, pk1_ability3, pk1_ability4, pk2_ability1, pk2_ability2, pk2_ability3, pk2_ability4})
            })
                .then((response) => {
                    acciones(response, 'CvC');
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
            celda_pk1.classList.remove("col-md-5");
            celda_pk1.classList.add("col-md-6");
            celda_pk2.classList.remove("col-md-5");
            celda_pk2.classList.add("col-md-6");
            celda_botones.classList.add("d-none");
        });

        button_inicio_JvJ.addEventListener("click", (e) => {
            e.preventDefault();
            pokemon1_container.style.display = "none";
            pokemon2_container.style.display = "none";
            boton_peleas.style.display = "none";
            habilidades1.style.display = "none";
            habilidades2.style.display = "none";
            mensajes_gr.innerText = "";
            resultado.forEach((resultado) => {
                resultado.innerText = ""
            });
            const pokemon1_value = pk_lista[currentIndex1];
            const pokemon2_value = pk_lista[currentIndex2];
            const pk1_ability1 = document.getElementById("pk1_ability1").value;
            const pk1_ability2 = document.getElementById("pk1_ability2").value; 
            const pk1_ability3 = document.getElementById("pk1_ability3").value; 
            const pk1_ability4 = document.getElementById("pk1_ability4").value; 
            const pk2_ability1 = document.getElementById("pk2_ability1").value; 
            const pk2_ability2 = document.getElementById("pk2_ability2").value; 
            const pk2_ability3 = document.getElementById("pk2_ability3").value; 
            const pk2_ability4 = document.getElementById("pk2_ability4").value;
            const id_s = document.getElementById("id").innerText;
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({id_s, modo_combate: "JvJ", pokemon1: pokemon1_value, pokemon2: pokemon2_value, pk1_ability1, pk1_ability2, pk1_ability3, pk1_ability4, pk2_ability1, pk2_ability2, pk2_ability3, pk2_ability4})
            })
                .then((response) => {
                    acciones(response, 'JvJ');
                    pkbuttonContainer.style.display = "flex";
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
            atras.style.display = "block";
            celda_pk1.classList.remove("col-md-5");
            celda_pk1.classList.add("col-md-6");
            celda_pk2.classList.remove("col-md-5");
            celda_pk2.classList.add("col-md-6");
            celda_botones.classList.add("d-none");
        });

        button_inicio_JvC.addEventListener("click", (e) => {
            e.preventDefault();
            mensajes_gr.innerText = "";
            resultado.forEach((resultado) => {
                resultado.innerText = ""
            });
            pokemon1_container.style.display = "none";
            pokemon2_container.style.display = "none";
            boton_peleas.style.display = "none";
            habilidades1.style.display = "none";
            habilidades2.style.display = "none";
            const pokemon1_value = pk_lista[currentIndex1];
            const pokemon2_value = pk_lista[currentIndex2];
            const pk1_ability1 = document.getElementById("pk1_ability1").value;
            const pk1_ability2 = document.getElementById("pk1_ability2").value; 
            const pk1_ability3 = document.getElementById("pk1_ability3").value; 
            const pk1_ability4 = document.getElementById("pk1_ability4").value; 
            const pk2_ability1 = document.getElementById("pk2_ability1").value; 
            const pk2_ability2 = document.getElementById("pk2_ability2").value; 
            const pk2_ability3 = document.getElementById("pk2_ability3").value; 
            const pk2_ability4 = document.getElementById("pk2_ability4").value;
            const id_s = document.getElementById("id").innerText;
            fetch("/pokemon_combat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({id_s, modo_combate: "JvC", pokemon1: pokemon1_value, pokemon2: pokemon2_value, pk1_ability1, pk1_ability2, pk1_ability3, pk1_ability4, pk2_ability1, pk2_ability2, pk2_ability3, pk2_ability4})
            })
                .then((response) => {
                    acciones(response, 'JvC');
                    pkbuttonContainer.style.display = "flex";
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
            atras.style.display = "block";
            celda_pk1.classList.remove("col-md-5");
            celda_pk1.classList.add("col-md-6");
            celda_pk2.classList.remove("col-md-5");
            celda_pk2.classList.add("col-md-6");
            celda_botones.classList.add("d-none");
        });

        // Función para mostrar la tarjeta actual
        function mostrarTarjeta(pk, index, info = null) {
            const tarjeta = document.createElement("div");
            tarjeta.className = "tarjeta";
            if (info === null || index == 0) {
                if (pk==1){
                    img1 = "/projects/pokemon/assets/images/pk_aleatorio.png"
                }
                else if (pk==2){
                    img2 = "/projects/pokemon/assets/images/pk_aleatorio.png"
                }
                tarjeta.innerHTML = `
                    <h5>${pk_lista[index]}</h5>
                    <h6>Tipo 1: Aleatorio</h6>
                    <h6>Tipo 2: Aleatorio</h6>
                    <h6>Vida: Aleatorio</h6>
                    <h6>Ataque: Aleatorio</h6>
                    <h6>Defensa: Aleatorio</h6>
                    <h6>Ataque Esp.: Aleatorio</h6>
                    <h6>Defensa Esp.: Aleatorio</h6>
                    <h6>Velocidad: Aleatorio</h6>
                    <img src="/projects/pokemon/assets/images/pk_aleatorio.png" alt="Imagen" style="height: 80px; width: 80px; object-fit: cover; object-fit: contain; display: block; margin: 0 auto;">
                `  
            }
            else {
                if (pk == 1) {
                    img1 = info.img
                }
                else if (pk == 2) {
                    img2 = info.img
                }
                tarjeta.innerHTML = `
                    <h5>${pk_lista[index]}</h5>
                    <h6>Tipo 1: ${info.tipo1}</h6>
                    <h6>Tipo 2: ${info.tipo2}</h6>
                    <h6>Vida: ${info.hp}</h6>
                    <h6>Ataque: ${info.atk}</h6>
                    <h6>Defensa: ${info.deff}</h6>
                    <h6>Ataque Esp.: ${info.sp_atk}</h6>
                    <h6>Defensa Esp.: ${info.sp_def}</h6>
                    <h6>Velocidad: ${info.speed}</h6>
                    <img src="${info.img} " alt="Imagen" style="height: 80px; width: 80px; object-fit: cover; object-fit: contain; display: block; margin: 0 auto;">
                `
            }
            if (pk == 1) {
                pokemon1.innerHTML = ""; // Limpiar el contenido
                pokemon1.appendChild(tarjeta);
            }
            else {
                pokemon2.innerHTML = ""; // Limpiar el contenido
                pokemon2.appendChild(tarjeta)
            }
        };

        function mostrarTarjeta_atk(pk, atk, info = null) {
            const tarjeta = document.createElement("div");
            tarjeta.className = "tarjeta";
            if (info === null) {
                tarjeta.innerHTML = `
                <h6>${atk}</h6>
                <h6>Tipo: Aleatorio</h6>
                <h6>Poder: Aleatorio</h6>
                <h6>Precición: Aleatorio</h6>
                <h6>Clase: Aleatorio</h6>
                <h6>Efectos: Aleatorio</h6>
            `
            }
            else {
                tarjeta.innerHTML = `
                <h6>${atk}</h6>
                <h6>Tipo: ${info.tipo1}</h6>
                <h6>Poder: ${info.pow}</h6>
                <h6>Precición: ${info.acc}</h6>
                <h6>Clase: ${info.clase}</h6>
                <h6>Efectos: ${info.eff}</h6>
            `
            }
            if (pk == 1) {
                atk1_sel.innerHTML = ""; // Limpiar el contenido
                atk1_sel.appendChild(tarjeta);
            }
            else {
                atk2_sel.innerHTML = ""; // Limpiar el contenido
                atk2_sel.appendChild(tarjeta)
            }
        };

        function habilidades_posibles(selector, habilidades) {
            selector.innerHTML = "";
            habilidades.forEach((ability) => {
                const option = document.createElement("option");
                option.value = ability;
                option.text = ability;
                selector.appendChild(option);
            });
        }

        button_CvC.addEventListener('click', (e) => {
            e.preventDefault(); // previene el comportamiento predeterminado del botón
            fetch("/get_pokemon")
            .then(
                response => response.json()
            )
            .then(pk_list => {
                pk_lista = pk_list; // Guardar la lista de Pokémon
                currentIndex1 = 0; // Reiniciar el índice
                currentIndex2 = 0; // Reiniciar el índice
                mostrarTarjeta(1, currentIndex1);
                mostrarTarjeta(2, currentIndex2);
                createButtons();
            });
            mensajes_gr.innerText = "Elige a los combatientes y sus ataques"
            form_JvC.style.display = "none";
            form_JvJ.style.display = "none";
            modo.style.display = "none";
            pkLifeContainer.style.display = "flex";
            atras.style.display = "block";
            form_CvC.style.display = "block";
            boton_peleas.style.display = "block";
            pk1_select.style.display = "block";
            pk2_select.style.display = "block";
        });

        button_JvJ.addEventListener('click', (e) => {
            e.preventDefault(); // previene el comportamiento predeterminado del botón
            fetch("/get_pokemon")
            .then(
                response => response.json()
            )
            .then(pk_list => {
                pk_lista = pk_list; // Guardar la lista de Pokémon
                currentIndex1 = 0; // Reiniciar el índice
                currentIndex2 = 0; // Reiniciar el índice
                mostrarTarjeta(1, currentIndex1);
                mostrarTarjeta(2, currentIndex2);
                createButtons();
            });
            mensajes_gr.innerText = "Elige a los combatientes y sus ataques"
            modo.style.display = "none";
            form_JvC.style.display = "none";
            form_CvC.style.display = "none";
            boton_peleas.style.display = "block";
            pk1_select.style.display = "block";
            pk2_select.style.display = "block";
            pkLifeContainer.style.display = "flex";
            atras.style.display = "block";
            form_JvJ.style.display = "block";
            celda_botones.classList.remove("d-none");
        });

        button_JvC.addEventListener('click', (e) => {
            e.preventDefault(); // previene el comportamiento predeterminado del botón
            fetch("/get_pokemon")
            .then(
                response => response.json()
            )
            .then(pk_list => {
                pk_lista = pk_list; // Guardar la lista de Pokémon
                currentIndex1 = 0; // Reiniciar el índice
                currentIndex2 = 0; // Reiniciar el índice
                mostrarTarjeta(1, currentIndex1);
                mostrarTarjeta(2, currentIndex2);
                createButtons();
            });
            mensajes_gr.innerText = "Elige a los combatientes y sus ataques"
            modo.style.display = "none";
            form_CvC.style.display = "none";
            form_JvJ.style.display = "none";
            boton_peleas.style.display = "block";
            pk1_select.style.display = "block";
            pk2_select.style.display = "block"; 
            pkLifeContainer.style.display = "flex";
            atras.style.display = "block";
            form_JvC.style.display = "block";
            celda_botones.classList.remove("d-none");
        });

        button_atras.addEventListener("click", (e) => {
            e.preventDefault();
            atras.style.display = "none";
            pkLifeContainer.style.display = "none";
            boton_peleas.style.display = "none";
            pkbuttonContainer.style.display = "none";
            atkselected.style.display = "none";
            pokemon1.innerHTML = "";
            pokemon2.innerHTML = "";
            mensajes_gr.innerText = "";
            resultado.forEach((resultado) => {
                resultado.innerText = ""
            });
            atk1_sel.innerHTML = "";
            atk2_sel.innerHTML = "";
            atk1 = "";
            atk2 = "";
            habilidades1.style.display = "block";
            habilidades2.style.display = "block";
            pokemon1_container.style.display = "flex";
            pokemon2_container.style.display = "flex";
            modo.style.display = "block";
            form_JvC.style.display = "block";
            form_JvJ.style.display = "block";
            form_CvC.style.display = "block";
            celda_pk1.classList.remove("col-md-6");
            celda_pk1.classList.add("col-md-5");
            celda_pk2.classList.remove("col-md-6");
            celda_pk2.classList.add("col-md-5");
            celda_botones.classList.remove("d-none");
        });
        
        button_combate.addEventListener("click", (e) => {
            e.preventDefault();
            fetch("/get_pokemon")
            .then(
                response => response.json()
            )
            .then(pk_list => {
                pk_lista = pk_list; // Guardar la lista de Pokémon
                currentIndex1 = 0; // Reiniciar el índice
                currentIndex2 = 0; // Reiniciar el índice
                updateSelectedValue(1, currentIndex1)
                updateSelectedValue(2, currentIndex2)
            });
            pkbuttonContainer.style.display = "none";
            atkselected.style.display = "none";
            mensajes_gr.innerText = "Elige a los combatientes y sus ataques"
            resultado.forEach((resultado) => {
                resultado.innerText = ""
            });
            atk1_sel.innerText = "";
            atk2_sel.innerText = "";
            atk1 = "";
            atk2 = "";
            habilidades1.style.display = "block";
            habilidades2.style.display = "block";
            pokemon1_container.style.display = "flex";
            pokemon2_container.style.display = "flex";
            pk1_select.style.display = "block";
            pk2_select.style.display = "block";
            boton_peleas.style.display = "block";
            celda_pk1.classList.remove("col-md-6");
            celda_pk1.classList.add("col-md-5");
            celda_pk2.classList.remove("col-md-6");
            celda_pk2.classList.add("col-md-5");
            celda_botones.classList.remove("d-none");
        });
        
        pk1_ability1Button.addEventListener("click", (e) => {
            e.preventDefault();
            atk1 = pk1_ability1Button.innerText;
            fetch("/get_info", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ tipo: 'atk', nombre: atk1 })
            })
            .then(response => response.json())
            .then(info => {
                mostrarTarjeta_atk(1, atk1, info);
            });
            atkselected.style.display = "flex";
        });
        pk1_ability2Button.addEventListener("click", (e) => {
            e.preventDefault();
            atk1 = pk1_ability2Button.innerText;
            fetch("/get_info", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ tipo: 'atk', nombre: atk1 })
            })
            .then(response => response.json())
            .then(info => {
                mostrarTarjeta_atk(1, atk1, info);
            });
            atkselected.style.display = "flex";
        });
        pk1_ability3Button.addEventListener("click", (e) => {
            e.preventDefault();
            atk1 = pk1_ability3Button.innerText;
            fetch("/get_info", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ tipo: 'atk', nombre: atk1 })
            })
            .then(response => response.json())
            .then(info => {
                mostrarTarjeta_atk(1, atk1, info);
            });
            atkselected.style.display = "flex";
        });
        pk1_ability4Button.addEventListener("click", (e) => {
            e.preventDefault();
            atk1 = pk1_ability4Button.innerText;
            fetch("/get_info", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ tipo: 'atk', nombre: atk1 })
            })
            .then(response => response.json())
            .then(info => {
                mostrarTarjeta_atk(1, atk1, info);
            });
            atkselected.style.display = "flex";
        });

        pk2_ability1Button.addEventListener("click", (e) => {
            e.preventDefault();
            if(mensajes_gr.innerText.includes("JvC")) {
                atk2_sel.innerText = "La computadora elegirá el ataque!";
            }
            else {
                atk2 = pk2_ability1Button.innerText;
                fetch("/get_info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ tipo: 'atk', nombre: atk2 })
                })
                .then(response => response.json())
                .then(info => {
                    mostrarTarjeta_atk(2, atk2, info);
                });
            };
            atkselected.style.display = "flex";
        });
        pk2_ability2Button.addEventListener("click", (e) => {
            e.preventDefault();
            if(mensajes_gr.innerText.includes("JvC")) {
                atk2_sel.innerText = "La computadora elegirá el ataque!";
            }
            else {
                atk2 = pk2_ability2Button.innerText;
                fetch("/get_info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ tipo: 'atk', nombre: atk2 })
                })
                .then(response => response.json())
                .then(info => {
                    mostrarTarjeta_atk(2, atk2, info);
                });
            };
            atkselected.style.display = "flex";
        });
        pk2_ability3Button.addEventListener("click", (e) => {
            e.preventDefault();
            if(mensajes_gr.innerText.includes("JvC")) {
                atk2_sel.innerText = "La computadora elegirá el ataque!";
            }
            else {
                atk2 = pk2_ability3Button.innerText;
                fetch("/get_info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ tipo: 'atk', nombre: atk2 })
                })
                .then(response => response.json())
                .then(info => {
                    mostrarTarjeta_atk(2, atk2, info);
                });
            };
            atkselected.style.display = "flex";
        });
        pk2_ability4Button.addEventListener("click", (e) => {
            e.preventDefault();
            if(mensajes_gr.innerText.includes("JvC")) {
                atk2_sel.innerText = "La computadora elegirá el ataque!"
            }
            else {
                atk2 = pk2_ability4Button.innerText;
                fetch("/get_info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ tipo: 'atk', nombre: atk2 })
                })
                .then(response => response.json())
                .then(info => {
                    mostrarTarjeta_atk(2, atk2, info);
                });
            };
            atkselected.style.display = "flex";
        });
        
        atacar.addEventListener("click", (e) => {
            e.preventDefault();
            atk_pk1 = atk1;
            atk_pk2 = atk2;
            id_s = document.getElementById("id").innerText;
            if (mensajes_gr.innerText.includes("JvJ")) {
                modo_combate = "JvJ_c";
            }
            else if (mensajes_gr.innerText.includes("JvC")) {
                modo_combate = "JvC_c";
            }
            if(!(mensajes_gr.innerText.includes("ganador"))) {
                fetch("/pokemon_combat_c", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({id_s, modo_combate, atk_pk1, atk_pk2})
                })
                .then((response) => {
                    acciones(response);
                })
                .catch((error) => {
                    console.log("Error al iniciar la ejecución del script", error);
                });
            }
        });

        function createButtons() {
            pokemon1_container.innerHTML = ''; // Limpiar contenedor
            pokemon2_container.innerHTML = ''; // Limpiar contenedor
            pk_lista.forEach((value, index) => {
                const button = document.createElement('button');
                button.textContent = value;
                button.addEventListener('click', () => {
                    updateSelectedValue(1, index);
                });
                pokemon1_container.appendChild(button);
            })
            pk_lista.forEach((value, index) => {
                const button = document.createElement('button');
                button.textContent = value;
                button.addEventListener('click', () => {
                    updateSelectedValue(2, index);
                });
                pokemon2_container.appendChild(button);
            });
            
        }

        // Función que actualiza el valor seleccionado
        function updateSelectedValue(pk, index) {
            if (pk == 1){
                currentIndex1 = index;
                fetch("/get_info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ tipo: 'pk', nombre: pk_lista[currentIndex1] })
                })
                .then(response => response.json())
                .then(info => {
                    mostrarTarjeta(1, currentIndex1, info);
                });
                fetch("/get_abilities", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ pokemon: pk_lista[currentIndex1] })
                })
                .then(response => response.json())
                .then(abilities1 => {
                    habilidades_posibles(pk1_ability1Select, abilities1);
                    habilidades_posibles(pk1_ability2Select, abilities1);
                    habilidades_posibles(pk1_ability3Select, abilities1);
                    habilidades_posibles(pk1_ability4Select, abilities1);
                });
            }
            else {
                currentIndex2 = index;
                fetch("/get_info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ tipo: 'pk', nombre: pk_lista[currentIndex2] })
                })
                    .then(response => response.json())
                    .then(info => {
                        mostrarTarjeta(2, currentIndex2, info);
                    });
                fetch("/get_abilities", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ pokemon: pk_lista[currentIndex2] })
                })
                .then(response => response.json())
                .then(abilities2 => {
                    habilidades_posibles(pk2_ability1Select, abilities2);
                    habilidades_posibles(pk2_ability2Select, abilities2);
                    habilidades_posibles(pk2_ability3Select, abilities2);
                    habilidades_posibles(pk2_ability4Select, abilities2);
                });
            }
        }

        </script>
</body>
</html>