/*!
 * Project_Name: Weather
 * Author: Themezy
 * Email: contact[at]themezy.com
 * Url: http://www.themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/*
 * Global Styles
 */
html {
  font-size: 14px; }

body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #1e202b; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal; }

hr {
  border: none;
  border-bottom: 1px solid #777; }

ul, ol {
  margin: 0;
  padding-left: 0; }

a {
  text-decoration: none;
  color: #009ad8; }

address {
  font-style: normal; }

p {
  margin-top: 0; }

form input, form textarea, form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px; }
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
form textarea {
  resize: vertical; }

.button, form input[type="submit"], form button, form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white; }

.map {
  height: 220px; }

.site-header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; 
}

.site-header {
  vertical-align: middle;
  width: 100dvw;
  background-color: rgba(45, 45, 45, 0.8);
  transition: all 0.3s ease;
  z-index: 999;
  padding: min(clamp(9px, 2.5dvh, 12px), clamp(9px, 2.5dvw, 12px)) 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: min(clamp(40px, 8dvh, 70px), clamp(40px, 8dvw, 70px));
  position: fixed;
  transition: background-color 0.5s ease, padding 0.5s ease, box-shadow 0.5s ease, height 0.5s ease;
}

.site-header .branding {
  float: left;
}

.site-header .branding .logo,
.site-header .branding .logo-type {
  display: inline-block;
  vertical-align: middle;
}

.site-header .branding .logo {
  margin-right: 10px;
}

.site-header .branding .site-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.1428571429em;
  color: white;
}

.site-header .branding .site-description {
  font-size: 10px;
  font-size: 0.7142857143em;
  display: block;
  color: #bfc1c8;
}

.main-navigation {
  float: right;
}

.main-navigation .menu-toggle,
.main-navigation .menu {
  vertical-align: middle;
}

.main-navigation .menu-toggle {
  background: none;
  border: 2px solid transparent;
  color: white;
  border-radius: 40px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: none;
  outline: none;
}

@media screen and (max-width: 990px) {
  .main-navigation .menu-toggle {
    display: inline-block;
  }
}

.main-navigation .menu-toggle:hover,
.main-navigation .menu-toggle:active {
  border-color: #009ad8;
  color: #009ad8;
}

.main-navigation .menu {
  list-style: none;
  display: inline-block;
  *zoom: 1;
}

.main-navigation .menu:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

@media screen and (max-width: 990px) {
  .main-navigation .menu {
    display: none;
  }
}

.main-navigation .menu .menu-item {
  float: left;
  margin-left: 10px;
  position: relative;
  font-size: clamp(7px, 2dvh, 40px);
}

.main-navigation .menu .menu-item a {
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-weight: 400;
}

.main-navigation .menu .menu-item.current-menu-item a,
.main-navigation .menu .menu-item:hover a {
  border-color: #009ad8;
  color: #009ad8;
}

.mobile-navigation {
  padding: 30px 0 0;
  clear: both;
  display: none;
}

@media screen and (min-width: 991px) {
  .mobile-navigation {
    display: none !important;
  }
}

.mobile-navigation .menu {
  background: #262936;
  list-style: none;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.mobile-navigation .menu a {
  padding: 20px;
  display: block;
  color: white;
}

.mobile-navigation .menu .menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-navigation .menu .menu-item:last-child {
  border-bottom: none;
}

.mobile-navigation .menu .menu-item.current-menu-item a {
  color: #009ad8;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ddd;
  border-radius: 1vw;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  z-index: 1000;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.suggestions-list::-webkit-scrollbar {
  display: none;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: rgba(101, 101, 101, 0.5);
}

.hero {
  background-image: url('images/00.jpg');
  height: 100dvh;
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
  padding: min(clamp(45px, 8.2dvh, 75px), clamp(45px, 8.2dvw, 75px)) 0;
  min-height: 350px;
  overflow-y: scroll;
  transition: background-image 0.5s ease-in-out, height 0.5 ease-in-out;
  z-index: -6;
}

.hero::-webkit-scrollbar{
  display: none;
}

.find-location {
  position: relative;
}
.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white; 
}
.find-location input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px; }

.forecast-table {
  padding: 2dvh;
}

.forecast-container {
  padding: 1dvh 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.forecast-container .forecast {
  display: table-cell;
  vertical-align: top;
}

.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}

@media screen and (max-width: 990px) {
  .forecast-container .forecast {
    display: block;
    float: left;
  }
}

.forecast {
  width: 100%;
}

.forecast.today {
  background-color: rgba(102, 106, 126, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.forecast-grid .forecast {
  background-color: rgba(80, 83, 97, 0.8);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.forecast-grid {
  row-gap: min(1dvh, 1dvw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.forecast-header.big, .forecast-header.small {
  align-items: center;
}

.forecast-header.big .day,
.forecast-header.big .date,
.forecast-content.big .degree .num {
  font-size: max(clamp(12px, 3dvw, 45px), clamp(12px, 3dvh, 45px));
  color: #fff;
  flex: 1;
}

.forecast-header.small .day,
.forecast-header.small .date,
.forecast-content.small .degree .num {
  font-size: max(clamp(7px, 1.5dvw, 25px), clamp(7px, 1.5dvh, 25px));
  color: #fff;
  flex: 1;
}

.forecast-content.big span {
  font-size: max(clamp(8px, 1.6dvw, 25px), clamp(8px, 1.6dvh, 25px));
}

.forecast-content.small span {
  font-size: max(clamp(5px, 1.1dvw, 20px), clamp(5px, 1.1dvh, 20px));
}

.forecast-content.big summary {
  font-size: max(clamp(5px, 1.3dvw, 18px), clamp(5px, 1.3dvh, 18px));
}

.forecast-content.small summary {
  font-size: max(clamp(2px, 0.8dvw, 14px), clamp(2px, 0.8dvh, 14px));
}

.forecast-content.big .forecast-icon img {
  width: 10dvw;
}

.forecast-content.small .forecast-icon img {
  width: 5dvw;
}

.forecast-content.big img {
  width: max(2dvw, 2dvh);
}

.forecast-content.small img {
  width: max(1dvw, 1dvh);
}

.forecast-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-content .degree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-content.big .degree .num {
  font-size: max(clamp(15px, 3.2dvw, 50px), clamp(15px, 3.2dvh, 50px));
}

.forecast-content.small .degree .num {
  font-size: max(clamp(6px, 2dvw, 23px), clamp(6px, 2dvh, 23px));
}

@media (max-width: 768px) {

  .forecast.today,
  .forecast-grid .forecast {
    width: 100%;
    height: 100%;
  }

  .forecast.today {
    margin-bottom: 2rem;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-box {
  position: absolute;
}

.loader-box div {
  height: 20px;
  position: absolute;
  width: 20px;
}

.loader-box div:after {
  -webkit-animation: loading-box 2.1s ease infinite backwards;
  animation: loading-box 2.1s ease infinite backwards;
  background: linear-gradient(135deg, #44fda7, #29976d);
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader-box div:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) translate(60%, 120%);
  transform: translate(-50%, -50%) translate(60%, 120%);
}

.loader-box div:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) translate(-60%, 120%);
  transform: translate(-50%, -50%) translate(-60%, 120%);
}

.loader-box div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) translate(120%, 0);
  transform: translate(-50%, -50%) translate(120%, 0);
}

.loader-box div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader-box div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) translate(-120%, 0);
  transform: translate(-50%, -50%) translate(-120%, 0);
}

.loader-box div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) translate(60%, -120%);
  transform: translate(-50%, -50%) translate(60%, -120%);
}

.loader-box div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) translate(-60%, -120%);
  transform: translate(-50%, -50%) translate(-60%, -120%);
}

.loader-box div:nth-child(1):after {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.loader-box div:nth-child(2):after {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader-box div:nth-child(3):after {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.loader-box div:nth-child(4):after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loader-box div:nth-child(5):after {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.loader-box div:nth-child(6):after {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.loader-box div:nth-child(7):after {
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

@-webkit-keyframes loading-box {

  0%,
  20% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  90%,
  100% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
  }
}

@keyframes loading-box {

  0%,
  20% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  90%,
  100% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
  }
}

.noticias-carrusel {
  width: 100%;
  margin: 0 5px;
  position: relative;
}

.noticias-carrusel .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.noticias-carrusel .card {
  width: 95%;
  margin: 0 5px;
  background: rgba(78, 78, 78, 0.7);
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.noticias-carrusel .card h5{
  font-size: 1em;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 5px;
}

.slick-prev:hover,
.slick-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.slick-dots {
  bottom: -25px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #929292;
}

.slick-dots li.slick-active button:before {
  color: #dee7aa;
}